{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}

{% block text_title %}Video{% endblock %}
{% block icon_title %}{{ url_for('static', filename='icon/video.png')}}{% endblock %}

{% block body %}

    <div class="flex-row justify-content-center ">
        <div class="col-11 mt-2 ms-auto me-auto d-flex flex-column">
            <video class="col-12 col-md-8 ms-auto me-auto justify-content-between" controls src="/file/{{ link|replace(" ", "%20") }}"></video>
            <p class="text-break text-black mt-2 ms-auto me-auto">{{ title }}</p>
            <button id="copy" class="btn btn-primary btn-sm ms-auto me-auto col-10 mt-3 col-sm-5">Copy link for media player</button>
            <textarea class="form-control form-control-sm col-10 ms-auto me-auto mt-3" id="to-copy" spellcheck="false" hidden></textarea>
        </div>
    </div>


    <div id="myAlert" class="col-4 fixed-top ms-auto me-auto mt-5 text-center"></div>


    
    
    <script>
    function showAlert(message, typeAlert){
        document.getElementById('myAlert').innerHTML = '<div class="alert ' + typeAlert + '">'+message+'</div>';
            setTimeout(function(){
                document.getElementById('myAlert').innerHTML = '';
            }, 6000);
    }
    let video_obj = document.createElement('video').canPlayType("video/{{ title.split('.')[-1] }}");
    if (video_obj == ""){
        setTimeout(function(){
                alert('The browser does not support this video format. Use Media Player for better performance.');
            }, 500);
    }

    let urlVideo = document.getElementsByTagName('video')[0].src;
    let toCopy  = document.getElementById('to-copy');
    btnCopy = document.getElementById( 'copy' );
    const data = {
        'link': decodeURI(urlVideo)
    }
    btnCopy.addEventListener( 'click', function(){
        toCopy.hidden = false;
        fetch("/show_video", {
        method: "POST",
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify(data)
        }).then((response) => {
            return response.json();
        }).then((jsonObject) => {
            if (jsonObject.status == 200){
                toCopy.innerText = jsonObject.url;
                toCopy.select();
                if ( document.execCommand( 'copy' ) ) {
                    btnCopy.classList.add( 'copied' );
                    let temp = setInterval( function(){
                        btnCopy.classList.remove( 'copied' );
                        clearInterval(temp);
                    }, 40 );
                    showAlert('Copied!', 'alert-success');
                }
            }
            else {
                showAlert('Error copying', 'alert-warning');
            }
            toCopy.hidden = true;
        });

        return false;
    } );

    </script>


{% endblock %}