<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Dashboard </title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icon/icon.ico')}}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">

</head>
<body class="bg-white">

    {% include 'navbar.html' %}
    {% include 'new_user.html' %}
    {% include 'update_access.html' %}
    {% include 'update_password.html' %}
    {% include 'update_username.html' %}
    {% include 'system_control.html' %}
    {% include 'settings.html' %}

    <div class="table-responsive">
        <table class="table table-striped mt-2">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">UserName</th>
                <th scope="col">FTP</th>
                <th scope="col">Video</th>
                <th scope="col">Audio</th>
                <th scope="col">PDF</th>
                <th scope="col">Receive</th>
                <th scope="col">Send</th>
                <th scope="col">System Control</th>
                <th scope="col">Picture</th>
                  <th scope="col" title="FTP create directory">Create directory</th>
                <th scope="col" title="FTP store file">Store file</th>
              </tr>
            </thead>
            <tbody id="tbody">
            </tbody>
        </table>
    </div>
    
    <div id="myAlert" class="col-4 fixed-top ms-auto me-auto mt-5 text-center"></div>

<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js')}}"></script>
<script type="module" src="{{ url_for('admin.static', filename='js/dashboard.js')}}"></script>
</body>