
<nav class="navbar navbar-light" style="background-color: #0d6efd;">
    <div class="container-fluid">
        <a class="navbar-brand" style="color: #fff">Dashboard</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
                    <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="modal" data-bs-target="#new_user">New User</a>
                </li>
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userUpdate" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    User Update
                    </a>
                <ul class="dropdown-menu" aria-labelledby="userUpdate">
                    <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#update_username">Update UserName</a></li>
                    <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#update_password">Update Password</a></li>
                    <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#update_access">Update UserAccess</a></li>
                </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                </ul>
            </div>
        </div>
    </div>
</nav>