<div class="modal fade" id="new_user" tabindex="-1" aria-labelledby="new_userLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header col-lg-8 col-xl-6 ms-lg-auto me-lg-auto">
        <h5 class="modal-title" id="new_userLabel">New User</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="new_user_myAlert" class="col-4 fixed-top ms-auto me-auto mt-5 text-center"></div>
      <div class="modal-body col-lg-8 col-xl-6 ms-lg-auto me-lg-auto">
        <form class="row g-3">
          <div class="col-md-6">
            <label for="new_user_username" class="form-label">Username:</label>
            <input type="text" class="form-control" autocomplete="off" id="new_user_username">
            <div class="invalid-feedback">
              username is 4-20 characters long allowed characters a-z A-Z 0-9            
            </div>
          </div>

          <div class="col-md-6">
            <label for="new_user_inputFtp_root" class="form-label">FTP Root:</label>
            <select id="new_user_inputFtp_root" class="form-select">
            </select>
          </div>

          <div class="col-md-6">
            <label for="new_user_password" class="form-label">Password:</label>
            <input type="password" class="form-control" id="new_user_password">
            <div class="invalid-feedback">
              Minimum 8 characters, at least one uppercase letter, one lowercase letter, one number and one special character (@$!%*?&)
            </div>
          </div>

          <div class="col-md-6">
            <label for="new_user_password_verification" class="form-label">Password Verification:</label>
            <input type="password" class="form-control" id="new_user_password_verification">
          </div>

          <div class="col-12">
            <label class="form-label"> Services: </label>
          </div>

          <div class="col-md-3 col-sm-6 mt-0 pt-0">

            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="new_user_checkbox_ftp">
              <label class="form-check-label" for="new_user_checkbox_ftp">
                FTP
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="new_user_checkbox_receive">
              <label class="form-check-label" for="new_user_checkbox_receive">
                Receive
              </label>
            </div>

             <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="new_user_checkbox_create_directory">
              <label class="form-check-label" for="new_user_checkbox_create_directory">
                FTP create directory
              </label>
            </div>
           
          </div>

          <div class="col-md-3 col-sm-6 mt-0 pt-0">

            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="new_user_checkbox_video">
              <label class="form-check-label" for="new_user_checkbox_video">
                Video
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="new_user_checkbox_send">
              <label class="form-check-label" for="new_user_checkbox_send">
                Send
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="new_user_checkbox_store_file">
              <label class="form-check-label" for="new_user_checkbox_store_file">
                FTP store file
              </label>
            </div>
            
          </div>

          <div class="col-md-3 col-sm-6 mt-0 pt-0">

            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="new_user_checkbox_audio">
              <label class="form-check-label" for="new_user_checkbox_audio">
                Audio
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="new_user_checkbox_system_control">
              <label class="form-check-label" for="new_user_checkbox_system_control">
                System Control
              </label>
            </div>
          </div>

          <div class="col-md-3 col-sm-6 mt-0 pt-0">
            
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="new_user_checkbox_pdf">
              <label class="form-check-label" for="new_user_checkbox_pdf">
                PDF
              </label>
            </div>
            
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="new_user_checkbox_picture">
              <label class="form-check-label" for="new_user_checkbox_picture">
                Picture
              </label>
            </div>

          </div>
          
          <div class="col-12">
            <label class="form-label">Pahts:</label>
            <div class="overflow-scroll" style="height: 15rem;" id="new_user_paths">
            </div>
          </div>
          
        </form>
      </div>
      <div class="modal-footer col-lg-8 col-xl-6 ms-lg-auto me-lg-auto">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="new_user_close">Close</button>
        <button type="button" class="btn btn-primary" id="new_user_save_changes">Save changes</button>
      </div>
    </div>
  </div>
</div>