<div class="modal fade" id="settings" tabindex="-1" aria-labelledby="settingsLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header col-lg-8 col-xl-6 ms-lg-auto me-lg-auto">
        <h5 class="modal-title" id="settingsLabel">Settings</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="settings_myAlert" class="col-4 fixed-top ms-auto me-auto mt-5 text-center"></div>
      <div class="modal-body col-lg-8 col-xl-6 ms-lg-auto me-lg-auto">
        <form class="row g-3">

        </form>
      </div>
      <div class="modal-footer col-lg-8 col-xl-6 ms-lg-auto me-lg-auto">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="settings_close">Close</button>
        <button type="button" class="btn btn-primary" id="settings_save_changes">Save changes</button>
      </div>
    </div>
  </div>
</div>