{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}

    <div class="flex-row justify-content-center ">
        <div class="col-12 btn-primary p-2 p-xl-0 d-flex justify-content-between">
            <div class="col-10 col-md-8 btn-primary ms-auto me-auto m-2 mt-xl-0 mb-xl-0 d-flex justify-content-between">
                <p class="mt-auto mb-auto fs-3">Video</p>
                <img src="{{ url_for('static', filename='icon/video.png')}}" class="col-1 p-md-2 p-xl-4">
            </div>
        </div>

        <div class="col-11 mt-2 ms-auto me-auto d-flex flex-column">
            <video class="col-12 col-md-8 ms-auto me-auto justify-content-between" controls src="/file/{{ link|replace(" ", "%20") }}"></video>
            <p class="text-break text-black mt-2 ms-auto me-auto">{{ title }}</p>
            <button id="copy" class="btn btn-primary btn-sm ms-auto me-auto col-10 mt-3 col-sm-5">Copy link for media player</button>
            <textarea class="form-control form-control-sm col-10 ms-auto me-auto mt-3" id="to-copy" spellcheck="false" hidden></textarea>
        </div>
    </div>


    <div id="myAlert" class="col-4 fixed-top ms-auto me-auto mt-5 text-center"></div>


    
    
    <script>
    function showAlert(message, typeAlert){
        document.getElementById('myAlert').innerHTML = '<div class="alert ' + typeAlert + '">'+message+'</div>';
            setTimeout(function(){
                document.getElementById('myAlert').innerHTML = '';
            }, 6000);
    }

    let urlVideo = document.getElementsByTagName('video')[0].src;
    let toCopy  = document.getElementById('to-copy');
    toCopy.innerText = urlVideo;
    btnCopy = document.getElementById( 'copy' );
    btnCopy.addEventListener( 'click', function(){
        toCopy.hidden = false;
        toCopy.select();
        if ( document.execCommand( 'copy' ) ) {
            btnCopy.classList.add( 'copied' );
            let temp = setInterval( function(){
                btnCopy.classList.remove( 'copied' );
                clearInterval(temp);
            }, 600 );
            toCopy.hidden = true;
            showAlert('Copied!', 'alert-success');
        } else {
            showAlert('Error copying', 'alert-warning');
        }

        return false;
    } );

    </script>


{% endblock %}