{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="col-12 btn-primary p-2 p-xl-0 d-flex justify-content-between">
        <div class="col-10 col-md-8 btn-primary ms-auto me-auto m-2 mt-xl-0 mb-xl-0 d-flex justify-content-between">
            <p class="mt-auto mb-auto fs-3">Home Server</p>
            <img src="{{ url_for('static', filename='icon/icon.ico')}}" class="col-1 p-md-2 p-xl-4">
        </div>
    </div>
    <div class="home_page d-flex justify-content-center ">

        <div class="home_box col-8 mt-2">
            <div class="d-md-flex ms-auto me-auto justify-content-md-around">
                <a class="btn btn-primary m-2 p-3 rounded-3 col-md-6 d-flex justify-content-between" href="/video">
                    <h1 class="mt-auto mb-auto">Video</h1>
                    <img src="{{ url_for('static', filename='icon/video.png')}}" class="col-2">
                </a>
                <a class="btn btn-success m-2 p-3 rounded-3 col-md-6 d-flex justify-content-between" href="/audio">
                    <h1 class="mt-auto mb-auto">Audio</h1>
                    <img src="{{ url_for('static', filename='icon/audio.png')}}" class="col-2">
                </a>
            </div>
            <div class="d-md-flex ms-auto me-auto justify-content-md-around">
                <a class="btn btn-danger m-2 p-3 rounded-3 col-md-6 d-flex justify-content-between" href="/pdf">
                    <h1 class="mt-auto mb-auto">PDF</h1>
                    <img src="{{ url_for('static', filename='icon/pdf.png')}}" class="col-2">
                </a>
                <a class="btn btn-warning m-2 p-3 rounded-3 col-md-6 d-flex justify-content-between" href="/all_file">
                    <h1 class="mt-auto mb-auto">Receive</h1>
                    <img src="{{ url_for('static', filename='icon/download.png')}}" class="col-2">
                </a>
            </div>
            <div class="d-md-flex ms-auto me-auto justify-content-md-around">
                <a class="btn btn-info m-2 p-3 rounded-3 col-md-6 d-flex justify-content-between" href="/upload">
                    <h1 class="mt-auto mb-auto">Send</h1>
                    <img src="{{ url_for('static', filename='icon/upload.png')}}" class="col-2">
                </a>
                <a class="btn btn-primary m-2 p-3 rounded-3 col-md-6 d-flex justify-content-between" href="/system_control">
                    <h1 class="mt-auto mb-auto">System Control</h1>
                    <img src="{{ url_for('static', filename='icon/system.png')}}" class="col-2">
                </a>
            </div>
        </div>

    </div>
{% endblock %}