{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div id="list">
        {% for i in items %}
            {% if typs[:4] == 'show' %}
                <a href="/{{ typs }}/{{ i }}">{{ i.split('\\')[-1] }}</a>
            {% elif typs ==  'dl_file' %}
                <a href="/file/{{ i }}" download>{{ i.split('\\')[-1] }}</a>
            {% else %}
                <a href="/{{ typs }}/{{ i }}">{{ i }}</a>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

