{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}

    <div class="col-12 btn-primary p-2 p-xl-0 d-flex justify-content-between">
        <div class="col-10 col-md-8 btn-primary ms-auto me-auto m-2 mt-xl-0 mb-xl-0 d-flex justify-content-between">
            <p class="mt-auto mb-auto fs-3">System Control</p>
            <img src="{{ url_for('static', filename='icon/system.png')}}" class="col-1 p-md-2 p-xl-4">
        </div>
    </div>

    <div class="mt-3 row col-11 ms-auto me-auto col-md-6">
        <form action="/system_control" method="post">
            <label for="inputPassword"  class="col-2 col-form-label ms-auto me-auto d-flex">Password</label>
            <input type="password" name="password" class="form-control col-10 d-flex flex-column ms-auto me-auto" id="inputPassword">
            <div class="col-12 d-flex justify-content-center mt-4">
                <input type="submit" name="Shutdown" class="btn btn-primary col-5 ms-auto me-1" value="Shut down PC" >
                <input type="submit" name="Sleep" class="btn btn-primary col-4 ms-1 me-auto" value="Sleep PC">
            </div>
        </form>
      </div>


    </div>


    {% if alert%}
        <script>
        alert('{{ alert }}')
        </script>
    {% endif %}
{% endblock %}