<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%  block title %}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icon/icon.ico')}}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    {% block head %}
    {% endblock %}
</head>
<body class="bg-white">
<div class="col-12 btn-primary p-2 p-xl-0 d-flex justify-content-between">
    <div class="col-10 col-md-8 btn-primary ms-auto me-auto m-2 mt-xl-0 mb-xl-0 d-flex justify-content-between">
        <p class="mt-auto mb-auto fs-3">{% block text_title %}{% endblock text_title %}</p>
        <img src="{% block icon_title %}{% endblock icon_title %}" class="col-1 p-md-2 p-xl-4">
    </div>
</div>
{% block body %}
{% endblock %}
</body>
</html>