{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}
{% block text_title %}Home Server{% endblock %}
{% block icon_title %}{{ url_for('static', filename='icon/icon.ico')}}{% endblock %}

{% block body %}
    <div id="data" data-user="{{ data }}" data-login_status="{{ login_status }}"></div>
    <div class="d-flex justify-content-center ">

        <div id="list" class="home_box col-8 mt-2">

        </div>

    </div>

    <script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
    <script>
        const color = ['btn-primary', 'btn-success', 'btn-danger', 'btn-warning', 'btn-info']
        const buttons = {'Video': {'icon': 'video.png', 'href': '/video'}, 'Audio': {'icon': 'audio.png', 'href': '/audio'}, 'PDF': {'icon': 'pdf.png', 'href': '/pdf'}, 'Receive': {'icon': 'download.png', 'href': '/all_file'}, 'Send': {'icon': 'upload.png', 'href': '/send'}, 'System Control': {'icon': 'system.png', 'href': '/system_control'}, 'Picture': {'icon': 'picture.png', 'href': '/picture'}}
        const data = $('#data').data()
        const data_user = data['user'].split(',')
        const login_status = data['login_status']
        const key_buttons = Object.keys(buttons);
        const len_buttons = key_buttons.length;
        function creat_button(i, href, text, icon){
            return '<a class="btn '+ color[i % 5] +' m-2 p-3 rounded-3 col-md-6 d-flex justify-content-between" href="'+ href +'"><h1 class="mt-auto mb-auto">'+ text +'</h1><img src="/static/icon/'+ icon +'" class="col-2"></a>'
        }
        var j = 0;
        var grp = 0;
        var itm = 0;
        $('#list').append('<div id="group'+grp+'" class="d-md-flex ms-auto me-auto justify-content-md-around"></div>')
        for (let i =0; i < len_buttons; i++){
            if (j == 2){
                j = 0;
                grp++
                $('#list').append('<div id="group'+grp+'" class="d-md-flex ms-auto me-auto justify-content-md-around"></div>')
            }
            if (((i !== len_buttons) && (data_user[i] === '1')) || (login_status === 'False')){
                $('#group'+grp).append(creat_button(itm, buttons[key_buttons[i]]['href'], key_buttons[i], buttons[key_buttons[i]]['icon']));
                j = j+1;
                itm++
            }

        }
    </script>
{% endblock %}