{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block text_title %}
    {% if typs == 'video' %}
        Video Folders
    {% elif typs == 'audio' %}
        Audio Folders
    {% elif typs == 'pdf' %}
       PDF Folders
    {% elif typs == 'picture' %}
        Picture Folders
    {% else %}
        All
    {% endif %}
{% endblock %}

{% block icon_title %}{{ url_for('static', filename='icon/folder.png')}}{% endblock %}

{% block body %}
    <div id="data" data-items='{{ items }}' data-typs='{{ typs }}'></div>
    <div id="main" class="flex-row justify-content-center ">
        <ol id="path" class="breadcrumb font-weight-bold col-10 col-md-8 ms-auto me-auto m-2 mt-xl-0 mb-xl-0 text-break"></ol>
    </div>
    {% if items|length == 0 %}
        <div class="alert alert-info col-8 ms-auto mt-5 me-auto" role="alert">
            No files to display
        </div>
    {% endif %}
    <script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/list_folders.js')}}"></script>
    <script>
        $(window).on('hashchange', function() {
            const path = decodeURI(window.location.hash.replace('#', ''));
            if (path !== root){
                location_dir = path.split('/').length + 1;
                root = path;
                dirs = cwd(datas, location_dir);
                creator(dirs);
            }
        });
    </script>
{% endblock %}


