{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block text_title %}Send{% endblock %}
{% block icon_title %}{{ url_for('static', filename='icon/upload.png')}}{% endblock %}

{% block body %}

    <div class="form-group m-auto mt-4 col-12  d-flex justify-content-center">
        <div class="col-11 ms-auto me-auto">
            <div class="col-8  ms-auto me-auto d-flex">
                <input multiple type="file" class="form-control" name="file_input" id="file_input" oninput="input_filename();">
            </div>
            <div class="d-flex mt-2 col-8 ms-auto me-auto">
                <h1 class="col-6 col-form-label">Number of files sent: </h1><h1 id="file_input_label" class="text-break form-control-plaintext">0</h1>
            </div>
            <div class="d-flex mt-1 col-8 ms-auto me-auto">
                <h1 class="col-2 col-form-label">Size: </h1><h1 id="file_input_size" class="text-break form-control-plaintext"></h1>
            </div>
        </div>
    </div>

    <button  onclick="upload_multiple('{{ request.url }}');" id="upload_btn" class="btn btn-primary mt-4 ms-auto me-auto col-5 col-md-2 d-flex justify-content-between">
        <img src="{{ url_for('static', filename='icon/upload.png')}}" class="col-3" />
        <h1 class="mt-auto mb-auto">Send</h1>
    </button>

    <div class="d-flex justify-content-between mt-3 ms-auto me-auto">
        <button class="btn btn-primary d-none m-auto col-5 col-md-3 me-md-2 " id="loading_btn" type="button" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Sending...
        </button>

        <button type="button" id="cancel_btn" class="btn m-auto btn-secondary d-none col-5 col-md-3 ms-md-2">Cancel upload</button>
    </div>

    <div id="progress_wrapper" class="d-none col-11 me-auto ms-auto mt-2">
        <label id="progress_status"></label>
        <div class="progress mb-3 mt-3">
            <div id="progress" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>

    <div id="alert_wrapper" class="col-11 ms-auto me-auto mt-1"></div>
        
    <div id="file0" class="d-none col-md-6 col-11 ms-auto me-auto mt-2 border rounded-3">
        <div class="m-3 mt-4 float-start">
            <div id="file0_loading" class="d-none spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div>
                <img class="" id="file0_done" src="{{ url_for('static', filename='icon/done.svg')}}" />
            </div>
        </div>
        <button type="button" class="btn-close float-end m-3 mt-4" aria-label="Close"></button>
        <div class="mt-2 text-break">
            <p id="file0_name">File name</p>
        </div>
        <div class="d-flex">
            <p id="file0_size">File Size : 3 GB |</p>
            <p class="ms-1" id="file0_progress_status">50% 1.5 GB uploaded</p>
        </div>
        <div class="col-10 me-auto ms-auto">
            <div class="progress mb-2">
                <div id="file0_progress" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
        

    <script src="{{ url_for('static', filename='js/uploader.js')}}"></script>


{% endblock %}