{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}

{% block text_title %}System Control{% endblock %}
{% block icon_title %}{{ url_for('static', filename='icon/system.png')}}{% endblock %}

{% block body %}

    <div class="mt-3 row col-11 ms-auto me-auto col-md-6">
        <form action="/system_control" method="post">
            <label for="inputPassword"  class="col-2 col-form-label ms-auto me-auto d-flex">Password</label>
            <input type="password" name="password" class="form-control col-10 d-flex flex-column ms-auto me-auto" id="inputPassword">
            <div class="col-12 d-flex justify-content-center mt-4">
                <input type="submit" name="Shutdown" class="btn btn-primary col-5 ms-auto me-1" value="Shut down PC" >
                <input type="submit" name="Sleep" class="btn btn-primary col-4 ms-1 me-auto" value="Sleep PC">
            </div>
        </form>
      </div>


    </div>


    {% if alert%}
        <script>
        alert('{{ alert }}')
        </script>
    {% endif %}
{% endblock %}